[submodule "apps/petal_components"]
	path = apps/petal_components
	url = https://github.com/petalframework/petal_components
	branch = main
[submodule "apps/petal_boilerplate"]
	path = apps/petal_boilerplate
	url = https://github.com/petalframework/petal_boilerplate
	branch = main
