[submodule "apps/petal"]
	path = apps/petal_components
	url = https://github.com/petalframework/petal
	update = rebase
	branch = main
[submodule "apps/petal_boilerplate"]
	path = apps/petal_boilerplate
	url = https://github.com/petalframework/petal_boilerplate
	update = rebase
	branch = main
