[submodule "apps/petal"]
	path = apps/petal
	url = https://github.com/petalframework/petal
[submodule "apps/petal_boilerplate"]
	path = apps/petal_boilerplate
	url = https://github.com/petalframework/petal_boilerplate
