<h1>Let's verify your email 👌</h1>

<p>We got a request to add this email address to your Travel Massive account. Tap below to go ahead.</p>

<p>
  <a class="f-fallback button" href="<%= @url %>">
    Verify my email
  </a>
</p>

<p class="sub">&rarr; Verify <%= @email %></p>
