<h1>Let’s get you registered</h1>

<p>Your code is:</p>

<table class="discount" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      <div style="font-weight: bold; font-size: 22px; margin: 0;letter-spacing: 5px"><%= @pin %></div>
    </td>
  </tr>
</table>
